@model TaggedProducts.Web.Models.TagListModel
﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminMenu")

@Html.Partial("Component/_ModelMsg", Model)

<br />
<h3>Etiket Düzenleme Ekranı</h3>
<div id="TagMessage"></div>
<br />

<form id="frm" name="frm" action="/admin/tagadd" method="GET">
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" value="Ekle" />
</form>

<div class="row">
    <div class="span12">
        <div class="alert alert-info">
            <a class="close">×</a>
            <h4 class="alert-heading">Güncelleme Açıklaması</h4>
            <p>Aşağıdaki textbox'larda değeri değiştirdikten sonra textbox'tan çıktığınızda değişlik veritabanına kayıt olur!</p>
            <p id="tagupdatewarn"></p>
        </div>
    </div>
</div>

@if (Model != null
        && Model.Tags != null)
{
    foreach (var tag in Model.Tags)
    {
    <div id="div-@tag.IdStr" class="divtag">
        <input class="txtTag" type="text" value="@tag.Name" name="TagName" data-id="@tag.IdStr" />
        <input type="button" value="Sil" class="btn btn-mini btn-danger deleteTag" data-id="@tag.IdStr" data-name="@tag.Name" id="btnDel-@tag.IdStr"/>
        <br />
    </div>
    
    }
}

<div id="modal-from-dom" class="modal fade hidden">
    <div class="modal-header">
        <a href="#" onclick="javascript:$('#modal-from-dom').modal('hide');" class="close">&times;</a>
        <h3>Emin Misiniz?</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger">Evet</a>
        <a href="#" onclick="javascript:$('#modal-from-dom').modal('hide');" class="btn">Hayır</a>
    </div>
</div>

@section Script 
{
    <script type="text/javascript">

        function deleteItem(id) {
            try {
                $.ajax({
                    type: 'Post',
                    cache: false,
                    url: '/admin/tagdelete/',
                    data: 'id=' + id,
                    success: function (r) {
                        if (r != null) {
                            if (r.OK) {
                                $("#div-" + id).remove();
                                //console.log("silindi");
                            } else {
                                $("#TagMessage").append("<strong>" + r.Msg + "</strong>");
                                //console.log(r);
                            }
                            $("#modal-from-dom").modal("hide");
                        }
                    }
                });
            } catch (e) { }
        }

        $(document).ready(function () {
            $('#modal-from-dom').bind('show', function () {
                var id = $(this).data('id'),
                    itemName = $('#btnDel-' + id).data('name'),
                    removeBtn = $(this).find('.btn-danger');
                removeBtn.attr('onclick', "javascript:deleteItem('" + id + "')");

                $('.modal-body').html(itemName + " silinecek!");
            });

            $('.deleteTag').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');
                $('#modal-from-dom').data('id', id).modal('show');
            });

            var oldValue = "";
            $(".txtTag").on("focusin", function () {
                oldValue = $(this).val();
            });

            $(".txtTag").on("focusout", function () {
                if (oldValue != $(this).val().trim()) {
                    try {
                        $.ajax({
                            type: 'Post',
                            cache: false,
                            url: '/admin/tagedit/',
                            data: 'id=' + $(this).attr("data-id") + '&name=' + $(this).val().trim(),
                            success: function (r) {
                                if (r != null) {
                                    if (r.OK) {
                                        var str = oldValue + ' alan güncellendi';
                                        $('#tagupdatewarn').html(str);
                                    }
                                }
                            }
                        });
                    } catch (e) { }
                }
            });
        });
    </script>
}


