@using TaggedProducts.Utils
@model TaggedProducts.Web.Models.ProductModel
﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_AdminMenu")

<br />
<h3>Emlak Ekleme Formu</h3>
<br />

@Html.Partial("Component/_ModelMsg", Model)


<form id="frm" name="frm" action="/admin/add" method="POST" enctype="multipart/form-data">

    <div class="row">
        <div class="span3">
            Kodu:<br />
            <input type="number" name="Code" class="required" style="width: 120px;" />
        </div>
        
        <div class="span3">
            Video Url:<br />
            <input type="text" name="VideoUrl" class="required" />
        </div>
    </div>

    <div class="row">

        <div class="span3">
            Bölge:<br />
            <select name="Tags" class="required">
                @foreach (var tag in ViewBag.Tags)
                {
                    if (Model.Tags.Contains(tag.Name))
                    {
                    <option value="@tag.Name" selected="selected">@tag.Name</option>
                    }
                    else
                    {
                    <option value="@tag.Name">@tag.Name</option>
                    }
                }
            </select>
        </div>

    </div>

    <div class="row">

        <div class="span3">
            Fiyat:<br />
            <input type="text" name="Price" class="required" />
        </div>

        <div class="span3">
            Fiyat Birimi:<br />
            <select name="Currency" class="required">
                @foreach (var currency in Consts.Currencies)
                {
                    if (Model.Currency == currency)
                    {
                    <option value="@currency" selected="selected">@currency</option>
                    }
                    else
                    {
                    <option value="@currency">@currency</option>
                    }
                }
            </select>
        </div>
    </div>

    <br />
    <div class="row">

        <div class="span5">
            Başlık:<br />
            <input type="text" name="Title" class="required" style="width: 370px;" value="@(Model.Title ?? string.Empty)" />
        </div>

        <div class="span4">
            Adı:<br />
            <input type="text" name="Name" class="required" style="width: 290px;" value="@(Model.Name ?? string.Empty)" />
        </div>
        <div class="span3">
            Resimler:<br />
            <input type="file" class="required" name="Images" multiple="" />
        </div>
    </div>


    <div class="row">

        <div class="span5">
            Açıklama:<br />
            <textarea name="Description" rows="4" class="required" style="width: 370px;">@(Model.Description ?? string.Empty)</textarea>
        </div>
        
    </div>

    <div class="row">

        <div class="span5">
            HTML Meta Description:
        <br />
            <textarea name="HtmlDescription" rows="2" style="width: 370px;">@(Model.HtmlDescription ?? string.Empty)</textarea>
        </div>

    </div>

    <div class="row">
        <div class="span3">
            <br />
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-primary btn-large" value="Ekle" />
        </div>
    </div>



</form>

@section Script{
    <script>
        $(function () {
            $('#frm').validate();
        });
    </script>

}
